body {
    display: flex;
    flex-direction: column;
}

.header, 
.top {

    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}
.header h1 {
    color: #f9faf8;
    font-size: 24px;
    
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 64px;
    
    
    
    

}

.top h1{
    color:#f9faf8;
    font-weight: bolder;
    font-size: 48px;
    display: flex;
    width: 300px;
    
}

.top p{
   color: #e5e7eb; 
   font-size: 18px;
   width: 300px;

}

.sign-up{
    background: #3882f6;
    color: #e5e7eb;
    padding: 5px 10px 10px 10px;  
    font-weight:bold;
    vertical-align: middle;
    border-radius: 25px;
    text-align: center;
    width: 100px;
    height: 30px;
}

.top .left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: auto;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 64px;
}

.middle h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.card-container{
    display: flex;
    align-content: space-between;
    padding: 24px;
}

.card {
    flex-grow: 1;
    margin: 10px;
}

