body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;


}

.header, 
.top {

    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}
.header h1 {
    color: #f9faf8;
    font-size: 24px;
    
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 64px;
}

.top h1{
    color:#f9faf8;
    font-weight: bolder;
    font-size: 48px;
    display: flex;
    width: 300px;   
}

.top p{
   color: #e5e7eb; 
   font-size: 18px;
   width: 300px;

}

.top .sign-up{
    background: #3882f6;
    color: #e5e7eb;
    padding: 5px 10px 10px 10px;  
    font-weight:bold;
    vertical-align: middle;
    border-radius: 25px;
    text-align: center;
    width: 100px;
    height: 30px;
}

.top .left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: auto;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 64px;
}

.middle h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.card-container{
    display: flex;
    align-content: space-between;
    padding: 24px;
}

.card {
    flex-grow: 1;
    margin: 10px;
}

.bottom {
    background-color: #e5e7eb;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 64px;
    
}

.bottom p {
    display: flex;

   
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.author {
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-weight:bolder;
}


.pre-footer {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 48px 48px;
    
    
}
.cta {
    background: #3882f6;
    flex-direction: column;
    flex-grow: 1;
    width: 60%;
    height: 80%;
    padding: 48px;
    display: flex;
    justify-content: space-around;
}


.cta .left {
    display: flex;
    align-items:center;
    margin-left: 11%;
    /*padding-left: 30%;
    padding-top: 24px;*/
    flex-wrap: wrap;
    width: 80%;
    height: 50%;

}
.left h4 {
    font-size: 18px;
    color: #e5e7eb;
    font-style: bolder;
    margin: 0;
    padding: 0;
    text-align: left;
}
.cta p {
    color: #e5e7eb; 
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
    display: flex;
    margin: 0;
    margin-left: 11%;
    
    
    

}


.cta-sign-up {
    background: #3882f6;
    color: #e5e7eb;
    padding: 5px 10px 10px 10px;  
    font-weight:bold;
    border-radius: 25px;
    text-align: center;
    margin-left: 25%;

}

.footer {
    flex: 1;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
}